/*----------------------------------------------------------------------------------*/
/*--------------------- ARCHIVO FOOTER DE PÁGINA ----------------------------------*/
/*----------------------------------------------------------------------------------*/

footer.mainFooter
	font-family: "SerifBeta",sans-serif


/** Item Footer **/
.itemFooter
	padding : 50px 0 35px
	
	//Títulos
	h2.title-footer
		color      : black 
		font-family: "Casloncp", sans-serif

/** Copyright **/
.text-copyright
	font-size : 12px
	font-style: italic
	margin    : 10px auto

//++Seccion de Desarrollo
.mainFooter__develop
	background: #1a1a1a
	font-size : 12px 
	padding   : 5px 0
	/* Link */
	a 
		color: white
