/*----------------------------------------------------------------------------------*/
/*--------------------- ARCHIVO FOOTER DE PÁGINA ----------------------------------*/
/*----------------------------------------------------------------------------------*/

footer.mainFooter
	font-family: "SerifBetaRegular",sans-serif


/** Item Footer **/
.itemFooter
	font-size: 15px 
	padding  : 50px 0 35px
	
	//Títulos
	h2.title-footer
		color      : black 
		font-family: "Casloncp", sans-serif

/**[ Datos de Redes Sociales ]**/
ul#socialLinksMenu
	list-style-type: none 
	margin         : 65px 0 0	
	padding        : 0
	li 
		display: inline-block
		margin : 0 3px 
		a 
			+border-radius( 50%)
			+transition( all 1s cubic-bezier(.5,.5,.5,1) )
			align-items    : center
			border         : 1px solid #E9E9E9
			color          : #D1A83C
			display        : flex
			height         : 34px 
			justify-content: center
			text-decoration: none 
			width          : 34px 
			//hover
			&:hover 
				+scale(1.5)

/**[ Menú Contacto ]**/
ul.menuContactoFooter
	list-style-type: none 
	padding        : 0
	li 
		color    : black
		font-size: 15px 
		span 
			color : #C4A648

/**[ Texto Web ]**/
.texto-web
	color      : #C4A648
	font-size  : 22px 
	span 
		color    : black
		font-size: 26px 

/** Copyright **/
.text-copyright
	font-size : 12px
	font-style: italic
	margin    : 10px auto

//++Seccion de Desarrollo
.mainFooter__develop
	border-top : 1px solid silver
	color      : black
	font-size  : 13.5px 
	font-weight: 600
	padding    : 24px 0
	/* span and link */
	span , a
		color: #C4A648
